/**
 * @name moonrabbit-code
 * @description code
 * @author zuzumi-f
 * @authorId 437579806616322049
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/konazumi
 * @website https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual
 * @source https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual/blob/main/release/tsukino-mito.base.css
 * @version 5
*/

/*------------------------------------------------------
                all the customization
------------------------------------------------------*/
:root {
    /* The text that appear in top, leave it blank ("") if you dont want any */
    --custom-text: "TSUKINO MITO";

    /* General Colors */
    --border-color: #da4a60;
    --drag-gradient1: #e8c4d3;
    --drag-gradient2: #e39ba7;
    --name-bg: #d95b72;

    /* Background Colors & BG Image */
    --bg-gradient1: #e297b2;
    --bg-gradient2: #c0b4d5;
    --bg-gradient3: #54b5de;
    --bg-image: none; /* Write the image url, example url("your url") [none is default]*/
    --opacity: 0; /* Value in numbers from 0 to 1, but there is a limit */
    --bg-blur: 6px; /* Value in px */

    /* HSL(Hue, Saturation, Lightness). This values will change the accent color (That blue color in most buttons) */
    --H: 339; /* Value in numbers [339 is default] */
    --S: 97%; /* Value in % [97% is default] */
    --L: 71%; /* Value in % [71% is default] */

    /* HSL DarkTheme */
    --darkH: 0;     /* Value in numbers [0 is default] */
    --darkS: 0%;    /* Value in % [0% is default] */
    --darkL: 16%;   /* Value in % [16% is default] */

    /* Windows Buttons Colors */
    --close-color: #da5169;
    --max-color: #ffdf5b;
    --min-color: #00a0cb;

    /* Status Colors */
    --online-color: #caffbf;
    --idle-color: #fdffb6;
    --dnd-color: #ffadad;
    --offline-color: #d2d2cf;
    --streaming-color: #bdb2ff;

    /* Chatbar Colors */
    --textarea-background: #F0F2F2;
    --text-color: #313D40;
    --icon-color: var(--text-color);
    --selected-text-bg: var(--text-color);
    --selected-text-color: var(--textarea-background);
    --mentioned-color: 200, 100%, 60%; /* HSL Values Only */

    /* Other options */
    --border-width: 3px;
    --round-corners: 16px;
    --bottom-user-width: 24px;
}

/* Selection text color */
::selection {
    background-color: var(--selected-text-bg); /* text selection*/
    color: var(--selected-text-color); /* text color */
}

/*------------------------------------------------------
                anything else down here
------------------------------------------------------*/
:root {
    --blurple-50: hsl(var(--H), var(--S), var(--L));
    
    --brand-100: hsl(var(--H), var(--S), calc(2*var(--L)));
    --brand-130: hsl(var(--H), var(--S), calc(1.92*var(--L)));
    --brand-160: hsl(var(--H), var(--S), calc(1.85*var(--L)));
    --brand-200: hsl(var(--H), var(--S), calc(1.78*var(--L)));
    --brand-230: hsl(var(--H), var(--S), calc(1.71*var(--L)));
    --brand-260: hsl(var(--H), var(--S), calc(1.63*var(--L)));
    --brand-300: hsl(var(--H), var(--S), calc(1.56*var(--L)));
    --brand-330: hsl(var(--H), var(--S), calc(1.49*var(--L)));
    --brand-345: hsl(var(--H), var(--S), calc(1.42*var(--L)));
    --brand-360: hsl(var(--H), var(--S), calc(1.35*var(--L)));
    --brand-400: hsl(var(--H), var(--S), calc(1.28*var(--L)));
    --brand-430: hsl(var(--H), var(--S), calc(1.21*var(--L)));
    --brand-460: hsl(var(--H), var(--S), calc(1.14*var(--L)));
    --brand-500: hsl(var(--H), var(--S), calc(1*var(--L)));
    --brand-530: hsl(var(--H), calc(0.75*var(--S)), calc(0.99*var(--L)));
    --brand-560: hsl(var(--H), calc(0.60*var(--S)), calc(0.91*var(--L)));
    --brand-600: hsl(var(--H), calc(0.54*var(--S)), calc(0.83*var(--L)));
    --brand-630: hsl(var(--H), calc(0.54*var(--S)), calc(0.74*var(--L)));
    --brand-660: hsl(var(--H), calc(0.54*var(--S)), calc(0.66*var(--L)));
    --brand-700: hsl(var(--H), calc(0.54*var(--S)), calc(0.58*var(--L)));
    --brand-730: hsl(var(--H), calc(0.54*var(--S)), calc(0.49*var(--L)));
    --brand-760: hsl(var(--H), calc(0.54*var(--S)), calc(0.41*var(--L)));
    --brand-800: hsl(var(--H), calc(0.54*var(--S)), calc(0.33*var(--L)));
    --brand-830: hsl(var(--H), calc(0.54*var(--S)), calc(0.24*var(--L)));
    --brand-860: hsl(var(--H), calc(0.54*var(--S)), calc(0.16*var(--L)));
    --brand-900: hsl(var(--H), calc(0.54*var(--S)), calc(0*var(--L)));
}

/* All App */
#app-mount .c38106a3f0c3ca76-bar:not(.c38106a3f0c3ca76-systemBar) {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    top: var(--border-width);
    min-height: 36px;
    border: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--round-corners);
    border-top-right-radius: var(--round-corners);
}

#app-mount ._5e434347c823b592-content {
    margin-top: calc(10px + var(--border-width));
    border-top: none !important;
    border: var(--border-width) solid var(--border-color);
    border-bottom-left-radius: var(--round-corners);
    border-bottom-right-radius: var(--round-corners);
}

#app-mount ._5e434347c823b592-sidebar {
    border-bottom-right-radius: var(--round-corners);
}
#app-mount ._5e434347c823b592-page {
    border-bottom-left-radius: var(--round-corners);
}

/* WinButtons */
.c38106a3f0c3ca76-winButtons {
    position: fixed;
    left: calc(9px + var(--border-width));
    top: calc(12px + (var(--border-width)*2));
    flex-direction: row-reverse;
    -webkit-app-region: no-drag;
}
.c38106a3f0c3ca76-winButtonsWithDivider:before {
    display: none;
}

.c38106a3f0c3ca76-winButton {
    color: transparent !important;
    border-radius: 50%;
    width: 12px !important;
    height: 12px !important;
    margin-left: 3px;
    margin-right: 3px;
}

.c38106a3f0c3ca76-winButton:nth-child(3) {
    background: var(--close-color);
}
.c38106a3f0c3ca76-winButton:nth-child(2) {
    background: var(--max-color);
}
.c38106a3f0c3ca76-winButton:nth-child(1) {
    background: var(--min-color);
}

.c38106a3f0c3ca76-winButton:nth-child(3):hover,
.c38106a3f0c3ca76-winButton:nth-child(2):hover,
.c38106a3f0c3ca76-winButton:nth-child(1):hover {
    transform: scale(1.14);
}

/* User Bar */
._5e434347c823b592-panels::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount ._5e434347c823b592-panels {
    width: calc(308px + var(--bottom-user-width));
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

/* Like Another Window */
#app-mount ._5e434347c823b592-base {
    margin: 24px 12px 48px calc((308px + (var(--border-width)*2)) + 18px);
}
#app-mount .c38106a3f0c3ca76-winButtons {
    left: calc(calc((308px + (var(--border-width)*2)) + 18px) + (14px + var(--border-width)));
    top: calc(36px + (var(--border-width)*2));
}

/* experiment */
._5e434347c823b592-sidebarList {
    position: fixed;
    left: 12px;
    height: -webkit-fill-available;
    margin-bottom: calc((var(--custom-app-panels-height, 0) + 16px) + ((var(--border-width)*2)));
}

._5e434347c823b592-panels {
    position: fixed;
    left: 12px;
}
._5e434347c823b592-content {
    display: flex;
    flex-direction: row-reverse;
}
._5e434347c823b592-sidebar {
    width: calc(69px + var(--border-width));
}
.ef3116c2da186559-wrapper {
    top: 0px;
    height: 100%;
    position: absolute;
}

._5e434347c823b592-sidebarList::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
._5e434347c823b592-sidebarList {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

.f75fb00fb7356cbe-content:not(:has(.outer_c0bea0)) {
    flex-direction: row-reverse;
}

/* Background Gradient */
._960e4207cea8323e-bg {
    background-image: linear-gradient(90deg, var(--bg-gradient1) 0%, var(--bg-gradient2) 50%, var(--bg-gradient3) 100%);
}

/* Background Animation */
._960e4207cea8323e-bg {
    background-size: 200%;
}
.app-focused.full-motion ._960e4207cea8323e-bg {
    animation: Gradient 9s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position:0 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0 50%
    }
}

/* Top Icons */
#app-mount .c38106a3f0c3ca76-bar .c38106a3f0c3ca76-trailing {
    margin-right: 8px;
}
#app-mount .c38106a3f0c3ca76-bar ._9293f6b2fc12398a-icon {
    color: #fff;
}

#app-mount .c38106a3f0c3ca76-title svg path {
    fill: #fff;
}
#app-mount .c38106a3f0c3ca76-title svg {
    transform: scale(1.4);
}
#app-mount .c38106a3f0c3ca76-title .cf48127484dbde85-text-sm\/medium {
    font-size: large;
    color: #fff;
}

/* Server List */
#app-mount .ef3116c2da186559-wrapper {
    left: unset;
    right: 0;
}
#app-mount .ef3116c2da186559-wrapper ._581051df43c5ebb6-wrapper {
    left: 60px;
    flex-direction: row-reverse;
}
#app-mount .ef3116c2da186559-wrapper ._581051df43c5ebb6-item {
    border-radius: 4px;
    margin-left: unset;
    width: 4px;
}

._5e434347c823b592-sidebar:after {
    height: 15px;
}

/* Bar Alert */
#app-mount .notice__6e2b9 {
    border-radius: 100px;
    width: 50%;
    justify-self: center;
    top: calc(13px + (var(--border-width)*2));
}

/* DMs */
#app-mount ._99e7cad8d4c55236-scroller {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Channel List */
#app-mount ._629e4c86564a4ee7-scroller {
    margin-bottom: 0;
}

#app-mount ._2637a2609f343032-container {
    padding-bottom: 0;
}

/* Mini Profile */
._59d0d7075b521375-layerContainer .user-profile-popout {
    margin: 0 26px 0 0;
    height: calc(100% - 24px);
}

.user-profile-popout::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .user-profile-popout {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

:root .custom-user-profile-theme.user-profile-modal,
:root .custom-user-profile-theme.user-profile-popout {
    --custom-user-profile-theme-padding: 0 !important;
}

#app-mount .c0bea05627c5dc35-inner,
#app-mount ._68edb95846a37624-banner {
    border-radius: 0;
}

#app-mount .user-profile-popout .da589062f0c96515-wrapper {
    top: calc(12px + 32px);
}

#app-mount ._0137000bc80ab6ea-profileEffects {
    height: calc(100% - 32px);
    top: calc(32px + var(--border-width));
}

/* Big Profile */
.user-profile-modal-v2 ._9c3bea41fd465666-profile {
    left: -24px;
    position: fixed;
}

.user-profile-modal-v2 ._9c3bea41fd465666-profile::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: 0;
    min-height: 32px;
    max-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-radius: 0;
    -webkit-app-region: drag;
}
#app-mount .user-profile-modal-v2 ._9c3bea41fd465666-profile {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}
#app-mount .user-profile-modal-v2 ._9c3bea41fd465666-profileBody {
    max-height: 500px;
    margin-top: 28px;
}

._9c3bea41fd465666-profileHeader {
    top: calc(32px + var(--border-width));
}

.user-profile-modal-v2::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .user-profile-modal-v2 {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

#app-mount .user-profile-modal-v2 {
    width: 800px;
    margin-left: 324px;
}

#app-mount .user-profile-modal-v2 ._9c3bea41fd465666-backgroundImage {
    height: calc((100% - 32px) - var(--border-width));
    top: calc(32px + var(--border-width));
}

#app-mount .user-profile-modal-v2 ._9a5c352fc10aea40-coverList {
    grid-template-columns: repeat(var(--custom-game-cover-grid-row-size, 6), var(--custom-game-cover-width, 88px));
}

/* Settings */
.e4491282b6a5364a-modalContent:has(.abd9a8b9030934e3-container)::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .e4491282b6a5364a-modalContent:has(.abd9a8b9030934e3-container) {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

._8a031a135bfcb9ba-container.e4491282b6a5364a-modal {
    border-radius: var(--round-corners);
}
.e4491282b6a5364a-modalContentInner {
    height: calc(100% - (32px + var(--border-width)));
}
#app-mount .abd9a8b9030934e3-container .e9e3ed8b8badfe05-content {
    border-bottom-right-radius: var(--round-corners);
}
#app-mount .modalContentInner_e44912:has(.abd9a8b9030934e3-container) {
    height: calc((100% - 32px) - var(--border-width));
}
