/**
 * @name Moon Rabbits Dream About Virtual
 * @description Based in Tsukino Mito Album cover
 * @author zuzumi#8097
 * @authorId 403725623161257984
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/hurtyoutube
 * @website https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual
 * @source https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual/blob/main/release/tsukino-mito.base.css
 * @version 2
*/

/*---------------------------------------------------------------
   Theme Import you can't disable this is the full theme dummy
---------------------------------------------------------------*/
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/tsukino-mito.base.css');

/*---------------------------------------------------------------
               Make it look Like Another Window
---------------------------------------------------------------*/
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/window-mode.css');

/*---------------------------------------------------------------
                        Custom Settings
---------------------------------------------------------------*/

/* Animate the background */
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/backgroundanim.css');

/* Pop Effect */
@import url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/pop.css");

/* Reverse the position of Server list and members */
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/reverse.css');

/* Colors */
:root {
    /* The text that appear in top, leave it blank ("") if you dont want any */
    --custom-text: "TSUKINO MITO";

    /* General Colors */
    --border-color: #da4a60;
    --drag-gradient: #e8c4d3, #e39ba7;
    --bg-gradient1: #e297b2;
    --bg-gradient2: #c0b4d5;
    --bg-gradient3: #54b5de;
    --name-bg: #d95b72;

    /* Every Blue in Discord */
    --blue-hue: 335;
    --mentioned-hue: 210;

    /* Buttons Colors */
    --close-color: #da5169;
    --max-color: #ffdf5b;
    --min-color: #00a0cb;

    /* Other options */
    --border-width: 3px;
    --round-corners: 18px;
}

/*------------------------------------------------------
                anything else down here
------------------------------------------------------*/
