/**
 * @name moonrabbit-code
 * @description code
 * @author zuzumi-f
 * @authorId 437579806616322049
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/konazumi
 * @website https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual
 * @source https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual/blob/main/release/tsukino-mito.base.css
 * @version 5
*/

/*------------------------------------------------------
                all the customization
------------------------------------------------------*/
:root {
    /* The text that appear in top, leave it blank ("") if you dont want any */
    --custom-text: "TSUKINO MITO";

    /* General Colors */
    --border-color: #da4a60;
    --drag-gradient1: #e8c4d3;
    --drag-gradient2: #e39ba7;
    --name-bg: #d95b72;

    /* Background Colors & BG Image */
    --bg-gradient1: #e297b2;
    --bg-gradient2: #c0b4d5;
    --bg-gradient3: #54b5de;
    --bg-image: url("https://user-images.githubusercontent.com/79029257/132885766-58a204cf-4941-4143-a3d2-7d9eec948c2c.png"); /* Write the image url, example url("your url") [none is default]*/
    --bg-opacity: 0.3; /* Value in numbers from 0.0 to 1.0 */
    --bg-blur: 0px; /* Value in px */

    /* HSL(Hue, Saturation, Lightness). This values will change the accent color (That blue color in most buttons) */
    --H: 339; /* Value in numbers [339 is default] */
    --S: 97%; /* Value in % [97% is default] */
    --L: 71%; /* Value in % [71% is default] */

    /* HSL DarkTheme */
    --darkH: 0;     /* Value in numbers [0 is default] */
    --darkS: 0%;    /* Value in % [0% is default] */
    --darkL: 16%;   /* Value in % [16% is default] */

    /* Windows Buttons Colors */
    --close-color: #da5169;
    --max-color: #ffdf5b;
    --min-color: #00a0cb;

    /* Status Colors */
    --online-color: #caffbf;
    --idle-color: #fdffb6;
    --dnd-color: #ffadad;
    --offline-color: #d2d2cf;
    --streaming-color: #bdb2ff;

    /* Chatbar Colors */
    --textarea-background: #F0F2F2;
    --text-color: #313D40;
    --icon-color: var(--text-color);
    --selected-text-bg: var(--text-color);
    --selected-text-color: var(--textarea-background);
    --mentioned-color: 200, 100%, 60%; /* HSL Values Only */

    /* Other options */
    --border-width: 3px;
    --round-corners: 16px;
    --bottom-user-width: 24px;
}

/* Selection text color */
::selection {
    background-color: var(--selected-text-bg); /* text selection*/
    color: var(--selected-text-color); /* text color */
}

/*------------------------------------------------------
                anything else down here
------------------------------------------------------*/
:root {
    /* old color pattern
    --blurple-50: hsl(var(--H), var(--S), var(--L));
    
    --brand-100: hsl(var(--H), var(--S), calc(2*var(--L)));
    --brand-130: hsl(var(--H), var(--S), calc(1.92*var(--L)));
    --brand-160: hsl(var(--H), var(--S), calc(1.85*var(--L)));
    --brand-200: hsl(var(--H), var(--S), calc(1.78*var(--L)));
    --brand-230: hsl(var(--H), var(--S), calc(1.71*var(--L)));
    --brand-260: hsl(var(--H), var(--S), calc(1.63*var(--L)));
    --brand-300: hsl(var(--H), var(--S), calc(1.56*var(--L)));
    --brand-330: hsl(var(--H), var(--S), calc(1.49*var(--L)));
    --brand-345: hsl(var(--H), var(--S), calc(1.42*var(--L)));
    --brand-360: hsl(var(--H), var(--S), calc(1.35*var(--L)));
    --brand-400: hsl(var(--H), var(--S), calc(1.28*var(--L)));
    --brand-430: hsl(var(--H), var(--S), calc(1.21*var(--L)));
    --brand-460: hsl(var(--H), var(--S), calc(1.14*var(--L)));
    --brand-500: hsl(var(--H), var(--S), calc(1*var(--L)));
    --brand-530: hsl(var(--H), calc(0.75*var(--S)), calc(0.99*var(--L)));
    --brand-560: hsl(var(--H), calc(0.60*var(--S)), calc(0.91*var(--L)));
    --brand-600: hsl(var(--H), calc(0.54*var(--S)), calc(0.83*var(--L)));
    --brand-630: hsl(var(--H), calc(0.54*var(--S)), calc(0.74*var(--L)));
    --brand-660: hsl(var(--H), calc(0.54*var(--S)), calc(0.66*var(--L)));
    --brand-700: hsl(var(--H), calc(0.54*var(--S)), calc(0.58*var(--L)));
    --brand-730: hsl(var(--H), calc(0.54*var(--S)), calc(0.49*var(--L)));
    --brand-760: hsl(var(--H), calc(0.54*var(--S)), calc(0.41*var(--L)));
    --brand-800: hsl(var(--H), calc(0.54*var(--S)), calc(0.33*var(--L)));
    --brand-830: hsl(var(--H), calc(0.54*var(--S)), calc(0.24*var(--L)));
    --brand-860: hsl(var(--H), calc(0.54*var(--S)), calc(0.16*var(--L)));
    --brand-900: hsl(var(--H), calc(0.54*var(--S)), calc(0*var(--L))); */

    --blurple-1-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 95.294%;
    --blurple-2-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 94.51%;
    --blurple-3-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 93.725%;
    --blurple-4-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 93.137%;
    --blurple-5-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 92.353%;
    --blurple-6-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 91.765%;
    --blurple-7-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 90.98%;
    --blurple-8-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 90.392%;
    --blurple-9-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 89.608%;
    --blurple-10-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 89.02%;
    --blurple-11-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 88.235%;
    --blurple-12-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 87.647%;
    --blurple-13-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 87.059%;
    --blurple-14-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 86.275%;
    --blurple-15-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 85.686%;
    --blurple-16-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 85.098%;
    --blurple-17-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 84.314%;
    --blurple-18-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 83.725%;
    --blurple-19-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 83.137%;
    --blurple-20-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 82.549%;
    --blurple-21-hsl: var(--H) calc(var(--saturation-factor, 1)*97.849%) 81.765%;
    --blurple-22-hsl: var(--H) calc(var(--saturation-factor, 1)*97.938%) 80.98%;
    --blurple-23-hsl: var(--H) calc(var(--saturation-factor, 1)*98%) 80.392%;
    --blurple-24-hsl: var(--H) calc(var(--saturation-factor, 1)*96.154%) 79.608%;
    --blurple-25-hsl: var(--H) calc(var(--saturation-factor, 1)*96.262%) 79.02%;
    --blurple-26-hsl: var(--H) calc(var(--saturation-factor, 1)*96.364%) 78.431%;
    --blurple-27-hsl: var(--H) calc(var(--saturation-factor, 1)*94.737%) 77.647%;
    --blurple-28-hsl: var(--H) calc(var(--saturation-factor, 1)*94.872%) 77.059%;
    --blurple-29-hsl: var(--H) calc(var(--saturation-factor, 1)*93.333%) 76.471%;
    --blurple-30-hsl: var(--H) calc(var(--saturation-factor, 1)*93.496%) 75.882%;
    --blurple-31-hsl: var(--H) calc(var(--saturation-factor, 1)*93.651%) 75.294%;
    --blurple-32-hsl: var(--H) calc(var(--saturation-factor, 1)*92.308%) 74.51%;
    --blurple-33-hsl: var(--H) calc(var(--saturation-factor, 1)*92.481%) 73.922%;
    --blurple-34-hsl: var(--H) calc(var(--saturation-factor, 1)*91.176%) 73.333%;
    --blurple-35-hsl: var(--H) calc(var(--saturation-factor, 1)*91.367%) 72.745%;
    --blurple-36-hsl: var(--H) calc(var(--saturation-factor, 1)*90.21%) 71.961%;
    --blurple-37-hsl: var(--H) calc(var(--saturation-factor, 1)*90.345%) 71.569%;
    --blurple-38-hsl: var(--H) calc(var(--saturation-factor, 1)*89.262%) 70.784%;
    --blurple-39-hsl: var(--H) calc(var(--saturation-factor, 1)*89.474%) 70.196%;
    --blurple-40-hsl: var(--H) calc(var(--saturation-factor, 1)*88.387%) 69.608%;
    --blurple-41-hsl: var(--H) calc(var(--saturation-factor, 1)*88.608%) 69.02%;
    --blurple-42-hsl: var(--H) calc(var(--saturation-factor, 1)*87.578%) 68.431%;
    --blurple-43-hsl: var(--H) calc(var(--saturation-factor, 1)*87.73%) 68.039%;
    --blurple-44-hsl: var(--H) calc(var(--saturation-factor, 1)*86.826%) 67.255%;
    --blurple-45-hsl: var(--H) calc(var(--saturation-factor, 1)*86.982%) 66.863%;
    --blurple-46-hsl: var(--H) calc(var(--saturation-factor, 1)*86.047%) 66.275%;
    --blurple-47-hsl: var(--H) calc(var(--saturation-factor, 1)*86.286%) 65.686%;
    --blurple-48-hsl: var(--H) calc(var(--saturation-factor, 1)*85.393%) 65.098%;
    --blurple-49-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --blurple-50-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --blurple-51-hsl: var(--H) calc(var(--saturation-factor, 1)*79.787%) 63.137%;
    --blurple-52-hsl: var(--H) calc(var(--saturation-factor, 1)*74.49%) 61.569%;
    --blurple-53-hsl: var(--H) calc(var(--saturation-factor, 1)*69.608%) 60%;
    --blurple-54-hsl: var(--H) calc(var(--saturation-factor, 1)*65.877%) 58.627%;
    --blurple-55-hsl: var(--H) calc(var(--saturation-factor, 1)*61.644%) 57.059%;
    --blurple-56-hsl: var(--H) calc(var(--saturation-factor, 1)*58.407%) 55.686%;
    --blurple-57-hsl: var(--H) calc(var(--saturation-factor, 1)*55.365%) 54.314%;
    --blurple-58-hsl: var(--H) calc(var(--saturation-factor, 1)*52.5%) 52.941%;
    --blurple-59-hsl: var(--H) calc(var(--saturation-factor, 1)*49.194%) 51.373%;
    --blurple-60-hsl: var(--H) calc(var(--saturation-factor, 1)*46.667%) 50%;
    --blurple-61-hsl: var(--H) calc(var(--saturation-factor, 1)*46.774%) 48.627%;
    --blurple-62-hsl: var(--H) calc(var(--saturation-factor, 1)*47.107%) 47.451%;
    --blurple-63-hsl: var(--H) calc(var(--saturation-factor, 1)*47.234%) 46.078%;
    --blurple-64-hsl: var(--H) calc(var(--saturation-factor, 1)*47.368%) 44.706%;
    --blurple-65-hsl: var(--H) calc(var(--saturation-factor, 1)*47.511%) 43.333%;
    --blurple-66-hsl: var(--H) calc(var(--saturation-factor, 1)*47.907%) 42.157%;
    --blurple-67-hsl: var(--H) calc(var(--saturation-factor, 1)*48.077%) 40.784%;
    --blurple-68-hsl: var(--H) calc(var(--saturation-factor, 1)*48.515%) 39.608%;
    --blurple-69-hsl: var(--H) calc(var(--saturation-factor, 1)*48.718%) 38.235%;
    --blurple-70-hsl: var(--H) calc(var(--saturation-factor, 1)*49.206%) 37.059%;
    --blurple-71-hsl: var(--H) calc(var(--saturation-factor, 1)*49.727%) 35.882%;
    --blurple-72-hsl: var(--H) calc(var(--saturation-factor, 1)*50%) 34.51%;
    --blurple-73-hsl: var(--H) calc(var(--saturation-factor, 1)*50.588%) 33.333%;
    --blurple-74-hsl: var(--H) calc(var(--saturation-factor, 1)*51.22%) 32.157%;
    --blurple-75-hsl: var(--H) calc(var(--saturation-factor, 1)*50.943%) 31.176%;
    --blurple-76-hsl: var(--H) calc(var(--saturation-factor, 1)*51.316%) 29.804%;
    --blurple-77-hsl: var(--H) calc(var(--saturation-factor, 1)*52.055%) 28.627%;
    --blurple-78-hsl: var(--H) calc(var(--saturation-factor, 1)*52.857%) 27.451%;
    --blurple-79-hsl: var(--H) calc(var(--saturation-factor, 1)*53.731%) 26.275%;
    --blurple-80-hsl: var(--H) calc(var(--saturation-factor, 1)*54.688%) 25.098%;
    --blurple-81-hsl: var(--H) calc(var(--saturation-factor, 1)*54.472%) 24.118%;
    --blurple-82-hsl: var(--H) calc(var(--saturation-factor, 1)*55.556%) 22.941%;
    --blurple-83-hsl: var(--H) calc(var(--saturation-factor, 1)*57.143%) 21.961%;
    --blurple-84-hsl: var(--H) calc(var(--saturation-factor, 1)*57.009%) 20.98%;
    --blurple-85-hsl: var(--H) calc(var(--saturation-factor, 1)*58.416%) 19.804%;
    --blurple-86-hsl: var(--H) calc(var(--saturation-factor, 1)*60%) 18.627%;
    --blurple-87-hsl: var(--H) calc(var(--saturation-factor, 1)*60%) 17.647%;
    --blurple-88-hsl: var(--H) calc(var(--saturation-factor, 1)*62.353%) 16.667%;
    --blurple-89-hsl: var(--H) calc(var(--saturation-factor, 1)*62.5%) 15.686%;
    --blurple-90-hsl: var(--H) calc(var(--saturation-factor, 1)*64.865%) 14.51%;
    --blurple-91-hsl: var(--H) calc(var(--saturation-factor, 1)*65.714%) 13.725%;
    --blurple-92-hsl: var(--H) calc(var(--saturation-factor, 1)*68.75%) 12.549%;
    --blurple-93-hsl: var(--H) calc(var(--saturation-factor, 1)*69.492%) 11.569%;
    --blurple-94-hsl: var(--H) calc(var(--saturation-factor, 1)*73.585%) 10.392%;
    --blurple-95-hsl: var(--H) calc(var(--saturation-factor, 1)*74.468%) 9.216%;
    --blurple-96-hsl: var(--H) calc(var(--saturation-factor, 1)*75.61%) 8.039%;
    --blurple-97-hsl: var(--H) calc(var(--saturation-factor, 1)*76.471%) 6.667%;
    --blurple-98-hsl: var(--H) calc(var(--saturation-factor, 1)*76%) 4.902%;
    --blurple-99-hsl: var(--H) calc(var(--saturation-factor, 1)*84.615%) 2.549%;
    --blurple-100-hsl: var(--H) calc(var(--saturation-factor, 1)*0%) 0%;

    --blue-new-1-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 95.098%;
    --blue-new-2-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 94.118%;
    --blue-new-3-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 93.333%;
    --blue-new-4-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 92.353%;
    --blue-new-5-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 91.569%;
    --blue-new-6-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 90.588%;
    --blue-new-7-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 89.804%;
    --blue-new-8-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 89.02%;
    --blue-new-9-hsl: var(--H) calc(var(--saturation-factor, 1)*96.774%) 87.843%;
    --blue-new-10-hsl: var(--H) calc(var(--saturation-factor, 1)*96.97%) 87.059%;
    --blue-new-11-hsl: var(--H) calc(var(--saturation-factor, 1)*94.366%) 86.078%;
    --blue-new-12-hsl: var(--H) calc(var(--saturation-factor, 1)*94.737%) 85.098%;
    --blue-new-13-hsl: var(--H) calc(var(--saturation-factor, 1)*92.593%) 84.118%;
    --blue-new-14-hsl: var(--H) calc(var(--saturation-factor, 1)*92.941%) 83.333%;
    --blue-new-15-hsl: var(--H) calc(var(--saturation-factor, 1)*91.209%) 82.157%;
    --blue-new-16-hsl: var(--H) calc(var(--saturation-factor, 1)*91.579%) 81.373%;
    --blue-new-17-hsl: var(--H) calc(var(--saturation-factor, 1)*90%) 80.392%;
    --blue-new-18-hsl: var(--H) calc(var(--saturation-factor, 1)*90.385%) 79.608%;
    --blue-new-19-hsl: var(--H) calc(var(--saturation-factor, 1)*88.991%) 78.627%;
    --blue-new-20-hsl: var(--H) calc(var(--saturation-factor, 1)*89.474%) 77.647%;
    --blue-new-21-hsl: var(--H) calc(var(--saturation-factor, 1)*88.235%) 76.667%;
    --blue-new-22-hsl: var(--H) calc(var(--saturation-factor, 1)*87.097%) 75.686%;
    --blue-new-23-hsl: var(--H) calc(var(--saturation-factor, 1)*87.5%) 74.902%;
    --blue-new-24-hsl: var(--H) calc(var(--saturation-factor, 1)*86.466%) 73.922%;
    --blue-new-25-hsl: var(--H) calc(var(--saturation-factor, 1)*85.507%) 72.941%;
    --blue-new-26-hsl: var(--H) calc(var(--saturation-factor, 1)*85.915%) 72.157%;
    --blue-new-27-hsl: var(--H) calc(var(--saturation-factor, 1)*85.034%) 71.176%;
    --blue-new-28-hsl: var(--H) calc(var(--saturation-factor, 1)*84.314%) 70%;
    --blue-new-29-hsl: var(--H) calc(var(--saturation-factor, 1)*84.713%) 69.216%;
    --blue-new-30-hsl: var(--H) calc(var(--saturation-factor, 1)*83.951%) 68.235%;
    --blue-new-31-hsl: var(--H) calc(var(--saturation-factor, 1)*83.234%) 67.255%;
    --blue-new-32-hsl: var(--H) calc(var(--saturation-factor, 1)*82.558%) 66.275%;
    --blue-new-33-hsl: var(--H) calc(var(--saturation-factor, 1)*82.955%) 65.49%;
    --blue-new-34-hsl: var(--H) calc(var(--saturation-factor, 1)*82.32%) 64.51%;
    --blue-new-35-hsl: var(--H) calc(var(--saturation-factor, 1)*81.818%) 63.333%;
    --blue-new-36-hsl: var(--H) calc(var(--saturation-factor, 1)*81.25%) 62.353%;
    --blue-new-37-hsl: var(--H) calc(var(--saturation-factor, 1)*81.633%) 61.569%;
    --blue-new-38-hsl: var(--H) calc(var(--saturation-factor, 1)*81.188%) 60.392%;
    --blue-new-39-hsl: var(--H) calc(var(--saturation-factor, 1)*80.676%) 59.412%;
    --blue-new-40-hsl: var(--H) calc(var(--saturation-factor, 1)*80.282%) 58.235%;
    --blue-new-41-hsl: var(--H) calc(var(--saturation-factor, 1)*79.817%) 57.255%;
    --blue-new-42-hsl: var(--H) calc(var(--saturation-factor, 1)*80.269%) 56.275%;
    --blue-new-43-hsl: var(--H) calc(var(--saturation-factor, 1)*79.913%) 55.098%;
    --blue-new-44-hsl: var(--H) calc(var(--saturation-factor, 1)*79.661%) 53.725%;
    --blue-new-45-hsl: var(--H) calc(var(--saturation-factor, 1)*79.424%) 52.353%;
    --blue-new-46-hsl: var(--H) calc(var(--saturation-factor, 1)*79.2%) 50.98%;
    --blue-new-47-hsl: var(--H) calc(var(--saturation-factor, 1)*81.746%) 49.412%;
    --blue-new-48-hsl: var(--H) calc(var(--saturation-factor, 1)*88.43%) 47.451%;
    --blue-new-49-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --blue-new-50-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --blue-new-51-hsl: var(--H) calc(var(--saturation-factor, 1)*98.214%) 43.922%;
    --blue-new-52-hsl: var(--H) calc(var(--saturation-factor, 1)*96.364%) 43.137%;
    --blue-new-53-hsl: var(--H) calc(var(--saturation-factor, 1)*95.37%) 42.353%;
    --blue-new-54-hsl: var(--H) calc(var(--saturation-factor, 1)*94.34%) 41.569%;
    --blue-new-55-hsl: var(--H) calc(var(--saturation-factor, 1)*94.203%) 40.588%;
    --blue-new-56-hsl: var(--H) calc(var(--saturation-factor, 1)*94.059%) 39.608%;
    --blue-new-57-hsl: var(--H) calc(var(--saturation-factor, 1)*93.909%) 38.627%;
    --blue-new-58-hsl: var(--H) calc(var(--saturation-factor, 1)*93.75%) 37.647%;
    --blue-new-59-hsl: var(--H) calc(var(--saturation-factor, 1)*94.624%) 36.471%;
    --blue-new-60-hsl: var(--H) calc(var(--saturation-factor, 1)*94.475%) 35.49%;
    --blue-new-61-hsl: var(--H) calc(var(--saturation-factor, 1)*95.455%) 34.51%;
    --blue-new-62-hsl: var(--H) calc(var(--saturation-factor, 1)*96.471%) 33.333%;
    --blue-new-63-hsl: var(--H) calc(var(--saturation-factor, 1)*97.576%) 32.353%;
    --blue-new-64-hsl: var(--H) calc(var(--saturation-factor, 1)*98.742%) 31.176%;
    --blue-new-65-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 30.196%;
    --blue-new-66-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 29.412%;
    --blue-new-67-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 28.431%;
    --blue-new-68-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 27.647%;
    --blue-new-69-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 26.863%;
    --blue-new-70-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 26.078%;
    --blue-new-71-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 25.294%;
    --blue-new-72-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 24.51%;
    --blue-new-73-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 23.725%;
    --blue-new-74-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 22.941%;
    --blue-new-75-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 22.157%;
    --blue-new-76-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 21.373%;
    --blue-new-77-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 20.588%;
    --blue-new-78-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 19.804%;
    --blue-new-79-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 19.02%;
    --blue-new-80-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 18.431%;
    --blue-new-81-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 17.647%;
    --blue-new-82-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 16.863%;
    --blue-new-83-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 16.078%;
    --blue-new-84-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 15.49%;
    --blue-new-85-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 14.706%;
    --blue-new-86-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 13.922%;
    --blue-new-87-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 13.333%;
    --blue-new-88-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 12.549%;
    --blue-new-89-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 11.961%;
    --blue-new-90-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 11.176%;
    --blue-new-91-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 10.588%;
    --blue-new-92-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 9.804%;
    --blue-new-93-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 9.216%;
    --blue-new-94-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 8.431%;
    --blue-new-95-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 7.451%;
    --blue-new-96-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 6.471%;
    --blue-new-97-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 5.49%;
    --blue-new-98-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 4.118%;
    --blue-new-99-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 2.157%;
    --blue-new-100-hsl: var(--H) calc(var(--saturation-factor, 1)*0%) 0%;

    --opacity-blue-1-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-4-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-8-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-12-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-16-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-20-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-24-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-28-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-32-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-36-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-40-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-44-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-48-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-52-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-56-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-60-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-64-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-68-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-72-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-76-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-80-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-84-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-88-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-92-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;
    --opacity-blue-96-hsl: var(--H) calc(var(--saturation-factor, 1)*100%) 44.51%;

    --opacity-blurple-1-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-4-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-8-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-12-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-16-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-20-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-24-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-28-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-32-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-36-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-40-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-44-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-48-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-52-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-56-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-60-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-64-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-68-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-72-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-76-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-80-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-84-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-88-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-92-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --opacity-blurple-96-hsl: var(--H) calc(var(--saturation-factor, 1)*85.556%) 64.706%;
}

/* All App */
#app-mount .bar_c38106:not(.systemBar_c38106) {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    top: var(--border-width);
    min-height: 36px;
    border: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--round-corners);
    border-top-right-radius: var(--round-corners);
}

#app-mount .content__5e434:not(:has(.cb9592ad77576717-fullScreen)) {
    margin-top: calc(10px + var(--border-width));
    border-top: none !important;
    border: var(--border-width) solid var(--border-color);
    border-bottom-left-radius: var(--round-corners);
    border-bottom-right-radius: var(--round-corners);
}

#app-mount .sidebar__5e434 {
    border-bottom-right-radius: var(--round-corners);
}
#app-mount .page__5e434:not(:has(.cb9592ad77576717-fullScreen)) {
    border-bottom-left-radius: var(--round-corners);
}

/* Like Another Window */
#app-mount .base__5e434:not(:has(.cb9592ad77576717-fullScreen)) {
    margin: 24px 12px 48px calc((308px + (var(--border-width)*2)) + 18px);
}
#app-mount .winButtons_c38106 {
    left: calc(calc((308px + (var(--border-width)*2)) + 18px) + (14px + var(--border-width)));
    top: calc(36px + (var(--border-width)*2));
}

/* Fullscreen */
#app-mount .content__5e434:has(.cb9592ad77576717-fullScreen) {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

#app-mount .page__5e434:has(.cb9592ad77576717-fullScreen) {
    border-radius: var(--round-corners);
}

#app-mount .base__5e434:has(.cb9592ad77576717-fullScreen) {
    margin: 12px;
}

/* WinButtons */
.winButtons_c38106 {
    position: fixed;
    left: calc(9px + var(--border-width));
    top: calc(12px + (var(--border-width)*2));
    flex-direction: row-reverse;
    -webkit-app-region: no-drag;
}
.winButtonsWithDivider_c38106:before {
    display: none;
}

.winButton_c38106 {
    color: transparent !important;
    border-radius: 50%;
    width: 12px !important;
    height: 12px !important;
    margin-left: 3px;
    margin-right: 3px;
}

.winButton_c38106:nth-child(3) {
    background: var(--close-color);
}
.winButton_c38106:nth-child(2) {
    background: var(--max-color);
}
.winButton_c38106:nth-child(1) {
    background: var(--min-color);
}

.winButton_c38106:nth-child(3):hover,
.winButton_c38106:nth-child(2):hover,
.winButton_c38106:nth-child(1):hover {
    transform: scale(1.14);
}

/* User Bar */
.panels__5e434::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .panels__5e434 {
    width: calc(308px + var(--bottom-user-width));
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

/* New Style */
.sidebarList__5e434 {
    position: fixed;
    left: 12px;
    height: -webkit-fill-available;
    width: calc(375px - (40px + 16px*2) - 1px) !important;
    margin-bottom: calc((var(--custom-app-panels-height, 0) + 16px) + ((var(--border-width)*2)));
}
.sidebarResizeHandle__5e434 {
    display: none;
}

.panels__5e434 {
    position: fixed;
    left: 12px;
}
.content__5e434 {
    display: flex;
    flex-direction: row-reverse;
}
.sidebar__5e434 {
    width: calc(69px + var(--border-width));
}
.wrapper_ef3116 {
    top: 0px;
    height: 100%;
    position: absolute;
}

.sidebarList__5e434::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
.sidebarList__5e434 {
    border: var(--border-width) solid var(--border-color) !important;
    border-radius: var(--round-corners);
}

.bannerVisible_f37cb1 .headerEllipseForeground_f37cb1 {
    display: none;
}

.content_f75fb0:not(:has(.outer_c0bea0)){
    flex-direction: row-reverse;
}

/* Background Gradient */
.bg__960e4 {
    background-image: linear-gradient(90deg, var(--bg-gradient1) 0%, var(--bg-gradient2) 50%, var(--bg-gradient3) 100%);
}

/* Background Animation */
.bg__960e4 {
    background-size: 200%;
}
.app-focused.full-motion .bg__960e4 {
    animation: Gradient 9s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position:0 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0 50%
    }
}

/* Top Icons */
#app-mount .bar_c38106 .trailing_c38106 {
    margin-right: 8px;
}
#app-mount .bar_c38106 svg:not(.winButtons_c38106 svg) {
    color: #fff;
}

#app-mount .title_c38106::before {
    content: var(--custom-text);
    text-align: center;
    position: absolute;
    top: calc(6px + var(--border-width));
    width: calc(100% - var(--border-width)*2);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
#app-mount .title_c38106 div,
#app-mount .title_c38106 svg {
    display: none;
}

/* Server List */
#app-mount .wrapper_ef3116 {
    left: unset;
    right: 0;
}
#app-mount .wrapper_ef3116 .wrapper__58105 {
    left: 60px;
    flex-direction: row-reverse;
}
#app-mount .wrapper_ef3116 .item__58105 {
    border-radius: 4px;
    margin-left: unset;
    width: 4px;
}

.sidebar__5e434:after {
    height: 15px;
}

/* Bar Alert */
#app-mount ._6e2b9359c6f84cfd-notice {
    border-radius: 100px;
    width: 50%;
    justify-self: center;
    top: calc(13px + (var(--border-width)*2));
}

/* DM List */
#app-mount .scroller__99e7c {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Channel List */
#app-mount .scroller__629e4 {
    margin-bottom: 0;
}

#app-mount .container__2637a {
    padding-bottom: 0;
}

#app-mount .bottom__7aaec {
    bottom: 0;
}

/* Mini Profile */
.layerContainer__59d0d .user-profile-popout {
    margin: 0 26px 0 0;
    height: calc(100% - 24px);
}

.user-profile-popout::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .user-profile-popout {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

:root .custom-user-profile-theme.user-profile-modal,
:root .custom-user-profile-theme.user-profile-popout {
    --custom-user-profile-theme-padding: 0 !important;
}

#app-mount .inner_c0bea0,
#app-mount .banner__68edb {
    border-radius: 0;
}

#app-mount .user-profile-popout .wrapper_da5890 {
    top: calc(12px + 32px);
}

#app-mount .profileEffects__01370 {
    height: calc(100% - 32px);
    top: calc(32px + var(--border-width));
}

/* Big Profile */
.user-profile-modal-v2 .profile__9c3be {
    left: -24px;
    position: fixed;
}

.user-profile-modal-v2 .profile__9c3be::after {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    position: absolute;
    content: "";
    top: 0;
    min-height: 32px;
    max-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-radius: 0;
    -webkit-app-region: drag;
}
#app-mount .user-profile-modal-v2 .profile__9c3be {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}
#app-mount .user-profile-modal-v2 .profileHeader__9c3be {
    max-height: 500px;
    margin-top: 28px;
}

.profileHeader__9c3be {
    top: calc(32px + var(--border-width));
}

.user-profile-modal-v2::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .user-profile-modal-v2 {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

#app-mount .user-profile-modal-v2 {
    width: 800px;
    margin-left: 324px;
}

#app-mount .user-profile-modal-v2 .backgroundImage__9c3be {
    height: calc((100% - 32px) - var(--border-width));
    top: calc(32px + var(--border-width));
}

#app-mount .user-profile-modal-v2 .coverList__9a5c3 {
    grid-template-columns: repeat(var(--custom-game-cover-grid-row-size, 6), var(--custom-game-cover-width, 88px));
}

/* DM profile */
.content_f75fb0 .user-profile-sidebar::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
.content_f75fb0 .user-profile-sidebar {
    margin: 8px 0 8px 8px;
    height: calc(100% - 22px);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}
#app-mount .user-profile-sidebar .inner_c0bea0 {
    border-radius: 0 0 var(--round-corners) var(--round-corners);
}

/* Settings */
.modalContent_e44912:has(.container_abd9a8)::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .modalContent_e44912:has(.container_abd9a8) {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

.modalContentInner_e44912 {
    height: calc(100% - (32px + var(--border-width)));
}
#app-mount .container_abd9a8 .contentBody_e9e3ed {
    border-bottom-right-radius: var(--round-corners);
}
#app-mount .modalContentInner_e44912:has(.container_abd9a8) {
    height: calc((100% - 32px) - var(--border-width));
}

/* Settings Profile */
.profileCustomizationSection__44061 .clickable_d28e10.avatar_d28e10 {
    top: calc(61px + 32px);
    inset-inline-start: calc(15px - var(--border-width));
}
.profileCustomizationSection__44061 .user-profile-popout .container_ab8609 {
    inset-inline-start: 105px;
    top: calc((var(--custom-user-profile-banner-height) - 7px) + 32px);
}
.profileCustomizationSection__44061 .user-profile-popout .inner_c0bea0 {
    gap: 0 !important;
}

/* Chat */
.chat_f75fb0 .search__49676 {
    position: absolute;
    left: 0;
    margin: 0 8px;
}
.chat_f75fb0 .search__49676 .searchBar_c322aa {
    width: 248px;
}
.chat_f75fb0 .children__9293f:not(.cb9592ad77576717-noChat .children__9293f, .cb9592ad77576717-fullScreen .children__9293f) {
    margin-left: calc(248px + 8px);
}

/*#app-mount .c19a557985eb7793-contents {
    background: var(--background-base-low);
    border: 1px solid var(--bg-gradient2);
    padding: 8px;
    border-radius: var(--round-corners);
    width: fit-content;
}*/

/* Chat Background */
#app-mount .chatContent_f75fb0::before {
    display: block;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--bg-image);
    background-size: cover;
    background-position: center;
    opacity: var(--bg-opacity);
    filter: blur(var(--bg-blur));
    z-index: 0;
}

/* Chatbar */
#app-mount .chatGradient__36d07 {
    background: transparent;
}
#app-mount .channelTextArea__74017 {
    background: transparent;
    border: none;
}
#app-mount .channelTextArea__74017 .themedBackground__74017 {
    background: var(--textarea-background);
    border-radius: 50px;
    border: 3px solid;
    margin: 0 0 0 8px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
#app-mount .channelTextArea__74017 .themedBackground__74017 {
    border-color: var(--bg-gradient3);
}
#app-mount .channelTextArea__74017 .themedBackground__74017:hover {
    border-color: var(--bg-gradient2);
}
#app-mount .channelTextArea__74017 .themedBackground__74017:focus-within {
    border-color: var(--bg-gradient1);
}

#app-mount .channelTextArea__74017 .slateTextArea_ec4baf {
    font-weight: 500;
    caret-color: var(--text-color);
    color: var(--text-color);
}

#app-mount .channelTextArea__74017 svg:not(.stackedBars__74017 svg) {
    color: var(--icon-color);
}
#app-mount .channelTextArea__74017 .spriteGreyscale__04eed {
    background-color: var(--icon-color);
}

#app-mount .channelTextArea__74017 .stackedBars__74017 {
    margin: 8px;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}
#app-mount .channelTextArea__74017 .clipContainer__841c8 {
    padding: 0;
}
