/**
 * @name moonrabbit-code
 * @description code
 * @author zuzumi-f
 * @authorId 437579806616322049
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/konazumi
 * @website https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual
 * @source https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual/blob/main/release/tsukino-mito.base.css
 * @version 5
*/

/*------------------------------------------------------
                all the customization
------------------------------------------------------*/
:root {
    /* The text that appear in top, leave it blank ("") if you dont want any */
    --custom-text: "TSUKINO MITO";

    /* General Colors */
    --border-color: #da4a60;
    --drag-gradient1: #e8c4d3;
    --drag-gradient2: #e39ba7;
    --name-bg: #d95b72;

    /* Background Colors & BG Image */
    --bg-gradient1: #e297b2;
    --bg-gradient2: #c0b4d5;
    --bg-gradient3: #54b5de;
    --bg-image: none; /* Write the image url, example url("your url") [none is default]*/
    --opacity: 0; /* Value in numbers from 0 to 1, but there is a limit */
    --bg-blur: 6px; /* Value in px */

    /* HSL(Hue, Saturation, Lightness). This values will change the accent color (That blue color in most buttons) */
    --H: 339; /* Value in numbers [339 is default] */
    --S: 97%; /* Value in % [97% is default] */
    --L: 71%; /* Value in % [71% is default] */

    /* HSL DarkTheme */
    --darkH: 0;     /* Value in numbers [0 is default] */
    --darkS: 0%;    /* Value in % [0% is default] */
    --darkL: 16%;   /* Value in % [16% is default] */

    /* Windows Buttons Colors */
    --close-color: #da5169;
    --max-color: #ffdf5b;
    --min-color: #00a0cb;

    /* Status Colors */
    --online-color: #caffbf;
    --idle-color: #fdffb6;
    --dnd-color: #ffadad;
    --offline-color: #d2d2cf;
    --streaming-color: #bdb2ff;

    /* Chatbar Colors */
    --textarea-background: #F0F2F2;
    --text-color: #313D40;
    --icon-color: var(--text-color);
    --selected-text-bg: var(--text-color);
    --selected-text-color: var(--textarea-background);
    --mentioned-color: 200, 100%, 60%; /* HSL Values Only */

    /* Other options */
    --border-width: 3px;
    --round-corners: 16px;
    --bottom-user-width: 24px;
}

/* Selection text color */
::selection {
    background-color: var(--selected-text-bg); /* text selection*/
    color: var(--selected-text-color); /* text color */
}

/*------------------------------------------------------
                anything else down here
------------------------------------------------------*/
:root {
    --blurple-50: hsl(var(--H), var(--S), var(--L));
    
    --brand-100: hsl(var(--H), var(--S), calc(2*var(--L)));
    --brand-130: hsl(var(--H), var(--S), calc(1.92*var(--L)));
    --brand-160: hsl(var(--H), var(--S), calc(1.85*var(--L)));
    --brand-200: hsl(var(--H), var(--S), calc(1.78*var(--L)));
    --brand-230: hsl(var(--H), var(--S), calc(1.71*var(--L)));
    --brand-260: hsl(var(--H), var(--S), calc(1.63*var(--L)));
    --brand-300: hsl(var(--H), var(--S), calc(1.56*var(--L)));
    --brand-330: hsl(var(--H), var(--S), calc(1.49*var(--L)));
    --brand-345: hsl(var(--H), var(--S), calc(1.42*var(--L)));
    --brand-360: hsl(var(--H), var(--S), calc(1.35*var(--L)));
    --brand-400: hsl(var(--H), var(--S), calc(1.28*var(--L)));
    --brand-430: hsl(var(--H), var(--S), calc(1.21*var(--L)));
    --brand-460: hsl(var(--H), var(--S), calc(1.14*var(--L)));
    --brand-500: hsl(var(--H), var(--S), calc(1*var(--L)));
    --brand-530: hsl(var(--H), calc(0.75*var(--S)), calc(0.99*var(--L)));
    --brand-560: hsl(var(--H), calc(0.60*var(--S)), calc(0.91*var(--L)));
    --brand-600: hsl(var(--H), calc(0.54*var(--S)), calc(0.83*var(--L)));
    --brand-630: hsl(var(--H), calc(0.54*var(--S)), calc(0.74*var(--L)));
    --brand-660: hsl(var(--H), calc(0.54*var(--S)), calc(0.66*var(--L)));
    --brand-700: hsl(var(--H), calc(0.54*var(--S)), calc(0.58*var(--L)));
    --brand-730: hsl(var(--H), calc(0.54*var(--S)), calc(0.49*var(--L)));
    --brand-760: hsl(var(--H), calc(0.54*var(--S)), calc(0.41*var(--L)));
    --brand-800: hsl(var(--H), calc(0.54*var(--S)), calc(0.33*var(--L)));
    --brand-830: hsl(var(--H), calc(0.54*var(--S)), calc(0.24*var(--L)));
    --brand-860: hsl(var(--H), calc(0.54*var(--S)), calc(0.16*var(--L)));
    --brand-900: hsl(var(--H), calc(0.54*var(--S)), calc(0*var(--L)));
}

/* All App */
#app-mount .bar_c38106:not(.show_c38106) {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    top: var(--border-width);
    min-height: 36px;
    border: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--round-corners);
    border-top-right-radius: var(--round-corners);
}

#app-mount .content__5e434 {
    margin-top: calc(10px + var(--border-width));
    border-top: none !important;
    border: var(--border-width) solid var(--border-color);
    border-bottom-left-radius: var(--round-corners);
    border-bottom-right-radius: var(--round-corners);
}

#app-mount .sidebar__5e434 {
    border-bottom-right-radius: var(--round-corners);
}
#app-mount .page__5e434 {
    border-bottom-left-radius: var(--round-corners);
}

/* WinButtons */
.winButtons_c38106 {
    position: fixed;
    left: calc(9px + var(--border-width));
    top: calc(12px + (var(--border-width)*2));
    flex-direction: row-reverse;
    -webkit-app-region: no-drag;
}
.winButtonsWithDivider_c38106:before {
    display: none;
}

.winButton_c38106 {
    color: transparent !important;
    border-radius: 50%;
    width: 12px !important;
    height: 12px !important;
    margin-left: 3px;
    margin-right: 3px;
}

.winButton_c38106:nth-child(3) {
    background: var(--close-color);
}
.winButton_c38106:nth-child(2) {
    background: var(--max-color);
}
.winButton_c38106:nth-child(1) {
    background: var(--min-color);
}

.winButton_c38106:nth-child(3):hover,
.winButton_c38106:nth-child(2):hover,
.winButton_c38106:nth-child(1):hover {
    transform: scale(1.14);
}

/* User Bar */
.panels__5e434::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .panels__5e434 {
    width: calc(308px + var(--bottom-user-width));
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

/* Like Another Window */
#app-mount .base__5e434 {
    margin: 24px 12px 48px calc((308px + (var(--border-width)*2)) + 18px);
}
#app-mount .winButtons_c38106 {
    left: calc(calc((308px + (var(--border-width)*2)) + 18px) + (14px + var(--border-width)));
    top: calc(36px + (var(--border-width)*2));
}

/* experiment */
.sidebarList__5e434 {
    position: fixed;
    left: 12px;
    height: -webkit-fill-available;
    margin-bottom: calc((var(--custom-app-panels-height, 0) + 16px) + ((var(--border-width)*2)));
}

.panels__5e434 {
    position: fixed;
    left: 12px;
}
.content__5e434 {
    display: flex;
    flex-direction: row-reverse;
}
.sidebar__5e434 {
    width: calc(69px + var(--border-width));
}
.wrapper_ef3116 {
    top: 0px;
    height: 100%;
    position: absolute;
}

.sidebarList__5e434::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
.sidebarList__5e434 {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

.content_f75fb0:not(:has(.outer_c0bea0)) {
    flex-direction: row-reverse;
}

/* Background Gradient */
.bg__960e4 {
    background-image: linear-gradient(90deg, var(--bg-gradient1) 0%, var(--bg-gradient2) 50%, var(--bg-gradient3) 100%);
}

/* Background Animation */
.bg__960e4 {
    background-size: 200%;
}
.app-focused.full-motion .bg__960e4 {
    animation: Gradient 9s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position:0 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0 50%
    }
}

/* Top Icons */
#app-mount .bar_c38106 .trailing_c38106 {
    margin-right: 8px;
}
#app-mount .bar_c38106 .icon__9293f {
    color: #fff;
}

#app-mount .title_c38106 svg path {
    fill: #fff;
}
#app-mount .title_c38106 svg {
    transform: scale(1.4);
}
#app-mount .title_c38106 .text-sm\/medium_cf4812 {
    font-size: large;
    color: #fff;
}

/* Server List */
#app-mount .wrapper__58105 {
    left: unset;
    right: 0;
}
#app-mount .wrapper__58105 .item__58105 {
    border-radius: 4px;
    margin-left: unset;
    width: 4px;
}

.sidebar__5e434:after {
    height: 15px;
}

/* Bar Alert */
#app-mount .notice__6e2b9 {
    border-radius: 100px;
    width: 50%;
    justify-self: center;
    top: calc(13px + (var(--border-width)*2));
}

/* DMs */
#app-mount .scroller__99e7c {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Channel List */
#app-mount .scroller__629e4 {
    margin-bottom: 0;
}

#app-mount .container__2637a {
    padding-bottom: 0;
}

/* Mini Profile */
.content_f75fb0 .user-profile-popout {
    margin: 8px;
    height: calc(100% - 24px);
}

.user-profile-popout::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .user-profile-popout {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

:root .custom-user-profile-theme.user-profile-modal,
:root .custom-user-profile-theme.user-profile-popout {
    --custom-user-profile-theme-padding: 0 !important;
}

#app-mount .inner_c0bea0,
#app-mount .banner__68edb {
    border-radius: 0;
}

#app-mount .user-profile-popout .wrapper_da5890 {
    top: calc(12px + 32px);
}

#app-mount .profileEffects__01370 {
    height: calc(100% - 32px);
    top: calc(32px + var(--border-width));
}

/* Big Profile */
.user-profile-modal-v2 .profile__9c3be {
    bottom: 24px;
    left: -24px;
    position: fixed;
}

.user-profile-modal-v2 .profile__9c3be::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: 0;
    min-height: 32px;
    max-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-radius: 0;
    -webkit-app-region: drag;
}
#app-mount .user-profile-modal-v2 .profile__9c3be {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

.profileHeader__9c3be {
    top: calc(32px + var(--border-width));
}

.user-profile-modal-v2::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .user-profile-modal-v2 {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

#app-mount .user-profile-modal-v2 {
    width: 800px;
    margin-left: 312px;
}

#app-mount .user-profile-modal-v2 .backgroundImage__9c3be {
    height: calc((100% - 32px) - var(--border-width));
    top: calc(32px + var(--border-width));
}

/* Discover */
#app-mount .container_a592e1 {
    border-top: none;
}

/* Settings */
.modalContent_e44912:has(.container_abd9a8)::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    display: block;
    content: "";
    top: var(--border-width);
    min-height: 32px;
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: calc(var(--round-corners) - 3.5px);
    border-top-right-radius: calc(var(--round-corners) - 3.5px);
    -webkit-app-region: drag;
}
#app-mount .modalContent_e44912:has(.container_abd9a8) {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

.container__8a031.modal_e44912 {
    border-radius: var(--round-corners);
}

#app-mount .container_abd9a8 .content_e9e3ed {
    border-bottom-right-radius: var(--round-corners);
}
#app-mount .modalContentInner_e44912:has(.container_abd9a8) {
    height: calc((100% - 32px) - var(--border-width));
}
