/* Chat Background */
#app-mount .chatContent_f75fb0::before {
    display: block;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--bg-image);
    background-size: cover;
    background-position: center;
    opacity: var(--bg-opacity);
    filter: blur(var(--bg-blur));
    z-index: 0;
}
