/* Background Image Transparency */
.container-ZMc96U.themed-Hp1KC_,
.nowPlayingColumn-1eCBCN,
.container-1oAagU,
.chatContent-2O4SXb,
.container-2vWgD2,
.member-2iQhp7,
.members-2y1nVj {
    background: transparent;
}
.container-2cd8Mz,
.chat-9g_3Xj {
    background: var(--background-transparent);
}

/* Background Image */
.layer-86YKbF.baseLayer-W6S8cY::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(var(--bg-blur));
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
}
.container-1eFtFS::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--primary-600);
    opacity: var(--opacity);
}
