/* User details compatibility */
#app-mount .topSection-13QKHs .UserDetails-dates-container.UserDetails-dates-userProfile.UserDetails-dates-icons {
    display: none;
}
.theme-light .headerText-1-WmDq .UserDetails-dates-container svg {
    fill: var(--text-color);
}

/* Server profile compatibility */
.guild-profile .nameTagNoCustomStatus-3ocqoK {
    top: 155px;
    left: 0;
    position: absolute;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
}
.guild-profile .nameTagNoCustomStatus-3ocqoK .username-1g6Iq1 {
    color: #fff;
    background-color: #D95B72;
    border-radius: 3px;
    padding-right: 4px;
    padding-left: 8px;
}
.guild-profile .topSection-13QKHs .nameTag-2Nlmsy {
    background-color: unset;
    border-radius: unset;
    padding-right: unset;
    padding-left: unset;
}
.guild-profile .guildDetail-3EJhW_ {
    padding-top: 6px;
}

/* Server Details Tooltip */
#app-mount .detailsTooltip-G9hSSa {
    right: 390px;
}
#app-mount .detailsTooltip-G9hSSa .tooltipPointer-3L49xb {
    transform: rotate(-90deg);
    left: 300px;
}

/* Channels tab compatibility */
#app-mount #channelTabs-container {
    margin: 0 24px 0 24px;
    border-left: var(--the-borders);
    border-right: var(--the-borders);
    background-color: var(--background-tertiary);
}
#app-mount #channelTabs-settingsMenu {
    height: 39px;
}
#app-mount .channelTabs-favContainer {
    background: var(--background-tertiary);
}
#app-mount .channelTabs-tabIcon.channelTabs-noneIcon[src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"], #app-mount .channelTabs-favIcon.channelTabs-noneIcon[src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"] {
    content: url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/322c936a8c8be1b803cd94861bdfa868.png");
}

/* Status Everywhere compatibility */
#app-mount .wrapper-1VLyxH rect[fill="#593695"],
#app-mount .wrapper-1VLyxH rect :not(.pointerEvents-9SZWKj)[mask="url(#svg-mask-status-streaming)"] {fill: var(--streaming-color)}
#app-mount .wrapper-1VLyxH rect[fill="#3BA55D"],
#app-mount .wrapper-1VLyxH rect :not(.pointerEvents-9SZWKj)[mask="url(#svg-mask-status-online)"],
#app-mount .wrapper-1VLyxH rect :not(.pointerEvents-9SZWKj)[mask="url(#svg-mask-status-online-mobile)"] {fill: var(--online-color)}
#app-mount .wrapper-1VLyxH rect[fill="#FAA81A"],
#app-mount .wrapper-1VLyxH rect :not(.pointerEvents-9SZWKj)[mask="url(#svg-mask-status-idle)"] {fill: var(--idle-color)}
#app-mount .wrapper-1VLyxH rect[fill="#ED4245"],
#app-mount .wrapper-1VLyxH rect :not(.pointerEvents-9SZWKj)[mask="url(#svg-mask-status-dnd)"] {fill: var(--dnd-color)}

#app-mount .StatusEverywhere-avatar-userPopout[data-mobile=false]~svg foreignObject {
    mask: url(#svg-mask-avatar-status-round-80);
    overflow: visible;
}

/* .InvisibleTyping Compatibility */
#app-mount .InvisibleTyping-typingButton-invisibleTypingButton svg {
    color: var(--text-color);
}

/* Friends online */
.theme-light .friendsOnline-2JkivW {
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.theme-light .friendsOnline-2JkivW:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* Permission viewer Compatibility */
#app-mount #permissions-modal-wrapper #permissions-modal {
    background-color: var(--background-primary);
    border: var(--the-borders);
    border-radius: var(--radius-theme);
}
#app-mount #permissions-modal-wrapper .header {
    background: var(--drag-background);
    border-bottom: var(--the-borders);
    box-shadow: none;
}
#app-mount #permissions-modal-wrapper .modal-body, #app-mount #permissions-modal-wrapper .perm-side {
    background-color: var(--background-secondary);
}
#app-mount #permissions-modal-wrapper .role-side {
    background-color: var(--background-primary);
}
#app-mount #permissions-modal-wrapper .role-item.selected {
    background-color: hsla(0, 0%, 30%, 0.6);
}
#app-mount #permissions-modal-wrapper .role-item:hover:not(.selected) {
    background-color: hsla(0, 0%, 30%, 0.3);
}

/* Better Format Redux */
#app-mount .bf-toolbar::before {
    background-color: hsl(225, 8%, 4%);
}

/* ChannelDms */
#app-mount .ChannelDms-channelmembers-wrap {
    width: 260px;
}
#app-mount .ChannelDms-channelmembers-wrap .channel-1Shao0 {
    max-width: 240px;
}
#app-mount .ChannelDms-channelmembers-wrap .privateChannels-oVe7HL {
    border-radius: 0;
    border: none;
    background-color: var(--background-secondary);
}

#app-mount .ChannelDms-channelpopout-popout {
    border: var(--the-borders);
    border-radius: var(--radius-theme);
}
#app-mount .ChannelDms-channelpopout-popout .ChannelDms-channelpopout-header {
    padding: 8px;
    padding-right: 36px;
    border-top-left-radius: var(--radius-theme);
    border-top-right-radius: var(--radius-theme);
}
#app-mount .ChannelDms-channelpopout-popout .ChannelDms-channelpopout-collapseButton {
    top: 4px;
    left: 4px;
}
#app-mount .ChannelDms-channelpopout-popout .ChannelDms-channelpopout-removeButton {
    top: 8px;
    right: 8px;
    background-color: transparent;
    width: 26px;
    box-shadow: none;
    border-radius: 0;
    background-position: right;
    border-left: 1px solid hsla(0, 0%, 50%, 0.4);
}

.ChannelDms-channelpopout-headerStatus [fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"] {
    fill: var(--streaming-color);
}
.ChannelDms-channelpopout-headerStatus [fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
    fill: var(--online-color);
}
.ChannelDms-channelpopout-headerStatus [fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
    fill: var(--idle-color);
}
.ChannelDms-channelpopout-headerStatus [fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
    fill: var(--dnd-color);
}
.ChannelDms-channelpopout-headerStatus [fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"] {
    fill: var(--offline-color);
}
