/* User details compatibility */
#app-mount .topSection-y3p-_D .UserDetails-dates-container.UserDetails-dates-userProfile.UserDetails-dates-icons {
    display: none;
}
.theme-light .headerText-1vVs-U .UserDetails-dates-container svg {
    fill: var(--text-color);
}

/* Server profile compatibility */
.guild-profile .nameTagNoCustomStatus-3IWmZC {
    top: 155px;
    left: 0;
    position: absolute;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
}
.guild-profile .nameTagNoCustomStatus-3IWmZC .username-FvTBog {
    color: #fff;
    background-color: #D95B72;
    border-radius: 3px;
    padding-right: 4px;
    padding-left: 8px;
}
.guild-profile .topSection-y3p-_D .nameTag-ECvD8P {
    background-color: unset;
    border-radius: unset;
    padding-right: unset;
    padding-left: unset;
}
.guild-profile .guildDetail-1nRKNE {
    padding-top: 6px;
}

/* Server Details Tooltip */
#app-mount .detailsTooltip-G9hSSa {
    right: 390px;
}
#app-mount .detailsTooltip-G9hSSa .tooltipPointer-3ZfirK {
    transform: rotate(-90deg);
    left: 300px;
}

/* Channels tab compatibility */
#app-mount #channelTabs-container {
    margin: 0 24px 0 24px;
    border-left: var(--the-borders);
    border-right: var(--the-borders);
}
#app-mount .channelTabs-favContainer {
    background: var(--background-tertiary);
}
#app-mount .channelTabs-tabIcon.channelTabs-noneIcon[src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"], #app-mount .channelTabs-favIcon.channelTabs-noneIcon[src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"] {
    content: url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/322c936a8c8be1b803cd94861bdfa868.png");
}
