/* PermissionsViewer Compatibility */
#permissions-modal-wrapper #permissions-modal {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--round-corners);
}

#permissions-modal-wrapper #permissions-modal::before {
    background: linear-gradient(var(--drag-gradient1), var(--drag-gradient2));
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: calc(43px - var(--border-width));
    width: 100%;
    border-bottom: var(--border-width) solid var(--border-color);
    -webkit-app-region: drag;
}

#permissions-modal-wrapper .header {
    background-color: transparent;
}
#permissions-modal-wrapper .modal-body,
#permissions-modal-wrapper .perm-side {
    background-color: var(--background-primary);
}
#permissions-modal-wrapper .role-side {
    background-color: var(--background-secondary);
}

/* .InvisibleTyping Compatibility */
#app-mount .InvisibleTyping-typingButton-invisibleTypingButton svg {
    color: var(--text-color);
}

/* Friends online */
.theme-light .item-OnlineFriendCount {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}
.theme-light .item-OnlineFriendCount:hover {
    color: rgba(0, 0, 0, 0.9);
}
