/* User details compatibility */
#app-mount .topSection-y3p-_D .UserDetails-dates-container.UserDetails-dates-userProfile.UserDetails-dates-icons {
    display: none;
}
.theme-light .headerText-1vVs-U .UserDetails-dates-container svg {
    fill: var(--text-color);
}

/* Server profile compatibility */
.guild-profile .nameTagNoCustomStatus-3IWmZC {
    top: 155px;
    left: 0;
    position: absolute;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
}
.guild-profile .nameTagNoCustomStatus-3IWmZC .username-FvTBog {
    color: #fff;
    background-color: #D95B72;
    border-radius: 3px;
    padding-right: 4px;
    padding-left: 8px;
}
.guild-profile .topSection-y3p-_D .nameTag-ECvD8P {
    background-color: unset;
    border-radius: unset;
    padding-right: unset;
    padding-left: unset;
}
.guild-profile .guildDetail-1nRKNE {
    padding-top: 6px;
}

/* Server Details Tooltip */
#app-mount .detailsTooltip-G9hSSa {
    right: 390px;
}
#app-mount .detailsTooltip-G9hSSa .tooltipPointer-3ZfirK {
    transform: rotate(-90deg);
    left: 300px;
}

/* Channels tab compatibility */
#app-mount #channelTabs-container {
    margin: 0 24px 0 24px;
    border-left: var(--the-borders);
    border-right: var(--the-borders);
}
#app-mount #channelTabs-settingsMenu {
    height: 39px;
}
#app-mount .channelTabs-favContainer {
    background: var(--background-tertiary);
}
#app-mount .channelTabs-tabIcon.channelTabs-noneIcon[src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"], #app-mount .channelTabs-favIcon.channelTabs-noneIcon[src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"] {
    content: url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/322c936a8c8be1b803cd94861bdfa868.png");
}

/* Status Everywhere compatibility */
#app-mount .wrapper-3t9DeA rect[fill="#593695"],
#app-mount .wrapper-3t9DeA rect :not(.pointerEvents-2zdfdO)[mask="url(#svg-mask-status-streaming)"] {fill: var(--streaming-color)}
#app-mount .wrapper-3t9DeA rect[fill="#3BA55D"],
#app-mount .wrapper-3t9DeA rect :not(.pointerEvents-2zdfdO)[mask="url(#svg-mask-status-online)"],
#app-mount .wrapper-3t9DeA rect :not(.pointerEvents-2zdfdO)[mask="url(#svg-mask-status-online-mobile)"] {fill: var(--online-color)}
#app-mount .wrapper-3t9DeA rect[fill="#FAA81A"],
#app-mount .wrapper-3t9DeA rect :not(.pointerEvents-2zdfdO)[mask="url(#svg-mask-status-idle)"] {fill: var(--idle-color)}
#app-mount .wrapper-3t9DeA rect[fill="#ED4245"],
#app-mount .wrapper-3t9DeA rect :not(.pointerEvents-2zdfdO)[mask="url(#svg-mask-status-dnd)"] {fill: var(--dnd-color)}

/* .InvisibleTyping Compatibility */
#app-mount .InvisibleTyping-typingButton-invisibleTypingButton svg {
    color: var(--text-color);
}

/* Friends online */
.theme-light .friendsOnline-2JkivW {
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.theme-light .friendsOnline-2JkivW:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* Status circle */
#app-mount .content-3YMskv .wrapper-3t9DeA[style*="32"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
    x: 20.7 !important;
}
