/* Pop by UltraStorm[intergrav] (edited) */
:root {
/* Hover Scale */

    --HoverScale: 1.025;

/* Transition Time */

    --TransitionTime: 0.25s;

/* Ease Type */

    --EaseType: cubic-bezier(0, 0.75, 0, 1.75);

}

/* ---- Hover Animations ---- */
/* Buttons */ .sizeSmall_dd4f85:hover,
/* Settings List Items */ .side_a0 .item_a0:hover,
/* Active now card */ .itemCard_f02fcf:hover,
/* Activity button */ .buttonSize_c6eb7b:hover,
/* Friendlist */ .peopleListItem_d51464:hover,
/* Direct Message List Items */ .channel_c91bad:hover,
/* Member List Items */ .member_a31c43:hover,
/* Context Menu Items */ .item_d90b3d:hover:not([id="account-info"], [id="account-avatar"]),
/* Message Profile Pictures */ .avatar_ec86aa.clickable_ec86aa:hover,
/* Server Channels */ .link_d8bfb3:hover,
/* Call users */ .listDefault_cdc675 .clickable_cdc675:hover .content_cdc675,
/* User bar */ .panels_a4d4d9 .button_dd4f85:hover path,
/* Activity Button */ .activity-1gTu-L [type="button"]:hover, .userProfileActivity-sal5no [type="button"]:hover, .activity-E0U09Y [type="button"]:hover
{
    transform-origin: center;
    transform: scale(var(--HoverScale));
    box-shadow: var(--elevation-high);
}

/* ---- Static Animations ---- */
/* Buttons */ .sizeSmall_dd4f85,
/* Settings List Items */ .side_a0 .item_a0,
/* Active now card */ .itemCard_f02fcf,
/* Activity button */ .buttonSize_c6eb7b,
/* Friendlist */ .peopleListItem_d51464,
/* Direct Message List Items */ .channel_c91bad,
/* Member List Items */ .member_a31c43,
/* Context Menu Items */ .item_d90b3d:not([id="account-info"], [id="account-avatar"]),
/* Message Profile Pictures */ .avatar_ec86aa.clickable_ec86aa,
/* Server Channels */ .link_d8bfb3,
/* Call users */ .content_cdc675,
/* User bar */ .panels_a4d4d9 .button_dd4f85 path,
/* Activity Button */ .activity-1gTu-L [type="button"], .userProfileActivity-sal5no [type="button"], .activity-E0U09Y [type="button"]
{
    transition: var(--EaseType) var(--TransitionTime);
    box-shadow: none;
}

/* ---- When Active ---- */
/* Friend list */ .peopleListItem_d51464.active_d51464,
/* Active now */ .outer_c0f6a6.active_c0f6a6,
/* Memberlist */ .member_a31c43.selected_e9f61e
{
    transform-origin: center;
    transform: scale(var(--HoverScale));
    box-shadow: var(--elevation-high);
}
