/* Server list and members position*/
.container-1eFtFS {
    flex-direction: row-reverse;
}
.wrapper-z5ab_q {
    transform: rotate(180deg);
    margin-left: 64px;
}
.content-1jQy2l {
    flex-direction: row-reverse;
}

.wrapper-1_HaEi,
.scroller-3X7KbA {
    background-color: var(--background-tertiary) !important;
}

/* Server Details Tooltip */
#app-mount .detailsTooltip-G9hSSa {
    right: 390px;
}
#app-mount .detailsTooltip-G9hSSa .tooltipPointer-3L49xb {
    transform: rotate(-90deg);
    left: 300px;
}
