/* Server list and members position*/
.container-1eFtFS {
    flex-direction: row-reverse;
}
.wrapper-z5ab_q {
    transform: rotate(180deg);
    margin-left: 64px;
}
.content-1jQy2l {
    flex-direction: row-reverse;
}

#app-mount .container-2o3qEW {
    flex-direction: inherit;
}
