/* Server list and members position*/
.container_a4d4d9 {
    flex-direction: row-reverse;
}
.wrapper_fd07a3 {
    transform: rotate(180deg);
    margin-left: 64px;
}
.content_a7d72e:not(:has(.userPanelOuter_c69a7b), :has(.mainTableContainer_e23072)) {
    flex-direction: row-reverse;
}

.wrapper_fea3ef {
    background-color: var(--background-tertiary) !important;
}

.chat_a7d72e .children_e44302:not(.chatSidebarOpen_d880dc .children_e44302, .callContainer_d880dc .children_e44302) {
    margin-left: 242px;
}
.chat_a7d72e .children_e44302:not(.chatSidebarOpen_d880dc .children_e44302, .callContainer_d880dc .children_e44302)::before {
    content: "";
    width: 1px;
    height: 26px;
    background-color: var(--background-modifier-accent);
}

.search_ff5f90 {
    position: absolute;
    left: 0;
}

#app-mount .detailsTooltip_G9hSSa /* Server Details Tooltip */ {
    right: 390px;
}
#app-mount .detailsTooltip_G9hSSa .tooltipPointer_b6c360 {
    transform: rotate(-90deg);
    left: 300px;
}
