/* Like Another Window */
#app-mount .withFrame__485f4 {
    margin: 24px 24px 0;
}
#app-mount .withFrame__485f4::after {
    top: calc(30px + var(--border-width));
    width: calc((100% - var(--border-width)*2) - 24px*2);
}
#app-mount .layers_a23c37 > .layer__2efaa:first-child {
    margin: 0 24px 24px;
}
#app-mount .layers_a23c37 > .layer__2efaa:first-child {
    box-shadow: var(--elevation-high);
}

.noticeWrapper-8z511t /* BD Notice */ {
    margin-left: 24px;
    margin-right: 24px;
    border-left: var(--border-width) solid var(--border-color);
    border-right: var(--border-width) solid var(--border-color);
    box-shadow: none !important;
}

#app-mount .typeMacOS-3V4xXE /* MacOS window */ {
    margin-top: 24px;
    margin-left: 24px;
    border-top-left-radius: var(--round-corners);
    border-top-right-radius: var(--round-corners);
    width: calc(100% - (48px + var(--border-width)*2));
}

.platform-win .container__4bde3 /* Did You Know? Screen */ {
    left: var(--border-width);
    width: calc((100% - var(--border-width)*2) - 24px*2);
    height: calc((100% - var(--border-width)) - 24px);
    margin: 0 24px 24px;
    border-bottom-left-radius: var(--round-corners);
    border-bottom-right-radius: var(--round-corners);
}
